.holiday {
  margin-bottom: 80px;
}
.holiday__container {
  box-sizing: border-box;
  position: relative;
}
.holiday__title {
  color: #1262ae;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.holiday__items {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.holiday__item {
  border: 1px solid #eaeaea;
  border-radius: 0px 0px 10px 10px;
  width: 288px;
}

.holiday__img img {
  max-width: 288px;
  height: 242px;
}

.holiday__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding: 0 12px;
  padding-top: 8px;
}
.holiday__country {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #424242;
  margin-bottom: 3px;
}
.holiday__text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #999;
}
.holiday__price {
  font-family: Baloo Bhai;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  padding-right: 12px;
  color: #1262af;
}
.holiday__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
}
